<style>
    #mobile,
    #module,
    #account,
    #servers {
        overflow-y: scroll;
    }
    
    #masonryLayout {
        padding-left: 50px;
    }
</style>


<div class="container">
    <div class="demo-scroll-container">
        <oj-masonry-layout id="masonryLayout">
            <!-- ko foreach: chemicals -->
            <div class="oj-panel demo-tile" data-bind="css: sizeClass, attr:{id: name}"></div>
            <!-- /ko -->
        </oj-masonry-layout>
    </div>
</div>


</div>




<total-logs id="totalLogs" data="{{logs}}"></total-logs>
<modules-graph id="moduleGraph" data="{{logs}}"></modules-graph>
<account-graph id="accountGraph" data="{{logs}}"></account-graph>
<mobile-graph id="mobileGraph" data={{logs}}></mobile-graph>
<!-- <server-graph id="serverGraph"></server-graph> -->

<div id="filterCustomers">
    <div id="containerDiv">
        <oj-label for="basicSelect">Filter Data By Customer:</oj-label>
        <oj-select-one id="customerOptions" options="[[customers]]" value="{{val}}" on-value-changed="[[selectedValue]]"></oj-select-one>
        <div>
            <br/>
            <oj-label for="curr-value">Current data being filtered by: </oj-label>
            <span id="curr-value" data-bind="text: val"></span>
        </div>
    </div>
</div>